.u-center-text {
  text-align: center;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-right {
  margin-right: 3rem;
}
.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-bottom-extra-large {
  margin-bottom: 14rem;
}

.u-margin-top-small {
  margin-top: 3rem !important;
}

.u-margin-top-medium {
  margin-top: 5rem !important;
}

.u-inline-block {
  display: inline-block;
}

.u-align-justify {
  text-align: justify;
}

.width-img-mobile {
  width: 35rem;
}
