*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media (max-width: 600px) {
    font-size: 50%;
  }
}

body {
  padding: 4rem;
  padding-bottom: 0rem;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  body {
    padding: 0rem;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  margin-right: 2rem;
  background: linear-gradient(45deg, $color-grey-dark, $color-grey-dark-3);
  border-radius: 3px;
}

.website-links {
  &:link,
  &:visited {
    text-decoration: none;
    color: #333;
  }
}
