body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; /* 1.7 means 1.7 times bigger than the original line height */
  font-size: 1.6rem;
}

.heading__primary {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 400;
  color: $color-grey-dark-3;
}

.heading__secondary {
  display: inline-block;
  font-size: 3rem;
  font-weight: 550;
  color: #444;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: skewY(-2deg) skewX(-2deg) scale(1.2);
  }
}

.heading__tertiary {
  font-size: 3rem;
  font-weight: 700;
  color: $color-grey-dark-3;
}

.first__frontend-desc {
  padding: 2rem 0;
  font-weight: 375;
  font-size: 2rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s ease-out;
  &:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2rem);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  color: $color-grey-dark-3;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
