.section-about {
  padding: 3rem;
  padding-bottom: 30rem;
  background-color: $color-primary-dark;

  @media (max-width: 600px) {
    padding: 0rem;
    padding-top: 2rem;
    padding-bottom: 15rem;
  }
}

.section-my-work {
  padding: 10rem;

  @media (max-width: 600px) {
    padding: 10rem 0rem;
  }
}

.section-stories {
  text-align: center;
  @media (min-width: 600px) {
    padding: 10rem;
  }

  &__heading-desc {
    font-size: 2rem;
    font-weight: 400;
  }
}

.section-internships {
  padding: 15rem 10rem;
  @media (max-width: 600px) {
    padding: 15rem 2rem;
  }
}
